---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flexget
spec:
  replicas: 0
  strategy:
    type: Recreate
  template:
    spec:
      containers:
        - name: flexget
          image: wiserain/flexget:3.18.23
          ports:
          - containerPort: 5050
            name: flexget-http
            protocol: TCP
          envFrom:
            - configMapRef:
                name: flexget-env
          volumeMounts:
          - mountPath: /config
            name: flexget-config-volume
          - mountPath: /data/flexget/direct_links/
            name: flexget-watch-volume
        - name: wg-flexget
          image: linuxserver/wireguard:1.0.20250521
          securityContext:
            capabilities:
              add:
              - NET_ADMIN
            privileged: true
          envFrom:
            - configMapRef:
                name: default-env-internal
          volumeMounts:
          - mountPath: /config
            name: wg-flexget-config-volume
          - mountPath: /lib/modules #wg kernel module
            name: lib-modules
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - rp4node02
      dnsPolicy: ClusterFirst
      volumes:
      - name: flexget-config-volume
        nfs:
          server: 192.168.1.10
          path: /mnt/volumes/nfs/flexget/config
          readOnly: false
      - name: flexget-watch-volume
        nfs:
          server: 192.168.1.10
          path: /mnt/volumes/nfs/dl/watch
          readOnly: false
      - name: wg-flexget-config-volume
        nfs:
          server: 192.168.1.10
          path: /mnt/volumes/nfs/flexget/wg
          readOnly: false
      - name: lib-modules
        hostPath:
          path: /lib/modules

