---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: firefox
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      securityContext:
        supplementalGroups: [44, 107] # groups video and render for DRI access
      containers:
        - name: firefox
          image: jlesage/firefox:v25.12.4
          securityContext:
            privileged: true
          ports:
          - containerPort: 5900
            name: firefox-tcp
            protocol: TCP
          envFrom:
            - configMapRef:
                name: firefox-env
          volumeMounts:
          - mountPath: /config
            name: firefox-config-volume
          - mountPath: /config/downloads
            name: watch-volume
          - mountPath: /dev/dri
            name: dri-device
        - name: wireguard
          image: linuxserver/wireguard:1.0.20250521
          securityContext:
            privileged: true
          envFrom:
            - configMapRef:
                name: default-env-internal
          volumeMounts:
          - mountPath: /config
            name: wireguard-config-volume
          - mountPath: /lib/modules #wg kernel module
            name: lib-modules
      hostAliases:
      - ip: "192.168.1.104"
        hostnames:
        - "192-168-1-104.mydns.jdownloader.org"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - zbox
      dnsPolicy: ClusterFirst
      volumes:
      - name: firefox-config-volume
        nfs:
          server: 192.168.1.10
          path: /mnt/volumes/nfs/firefox/firefox/
          readOnly: false
      - name: watch-volume
        nfs:
          server: 192.168.1.10
          path: /mnt/volumes/nfs/dl/watch
          readOnly: false
      - name: wireguard-config-volume
        nfs:
          server: 192.168.1.10
          path: /mnt/volumes/nfs/firefox/wg/
          readOnly: false
      - name: lib-modules
        hostPath:
          path: /lib/modules
      - name: dri-device
        hostPath:
          path: /dev/dri
          type: Directory

